---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import contacts from '../data/contactData'
---

<footer class="bg-purple-light py-4">
	<div class="container mx-auto flex flex-col space-y-6">
		<div class="mx-auto flex">
			<div class="flex space-x-10">
				<a href={contacts.facebook} data-title="Facebook">
					<Icon name="facebook" class="text-4xl" />
				</a>
				<a href={contacts.instagram} data-title="Instagram">
					<Icon name="instagram" class="text-4xl" />
				</a>
				<a href=`tel:{contacts.phoneValue}` data-title="Phone">
					<Icon name="phone" class="text-4xl" />
				</a>
			</div>
		</div>

		<ul class="mx-auto flex items-center space-x-5 lg:space-x-10">
			<li>
				<a
					href="/about"
					aria-label="About me"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					About Us
				</a>
			</li>
			<li>
				<a
					href="/services"
					aria-label="Services"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					Services
				</a>
			</li>
			<li class="hidden md:flex">
				<a href="/" aria-label="Goto main page" class="pb-2">
					<Image src="/logo0.png" alt="Logo" width={200} height={194} />
				</a>
			</li>
			<li>
				<a
					href="#faq"
					aria-label="Frequently asked questions"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					FAQ
				</a>
			</li>
			<li>
				<a
					href="#contacts"
					aria-label="How to contact with me"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					Contact Us
				</a>
			</li>
		</ul>

		<div
			class="border-purple-dark flex w-full items-center justify-between border-t border-dotted px-2 py-6"
		>
			<div>&copy; All Rights Reserved</div>
			<div class="flex items-center justify-end space-x-2">
				<span class="text-right">website developed by</span>
				<a href={contacts.developer} data-title="Web developer" target="_blank">
					<Icon name="logo-developer" class="text-4xl" />
				</a>
			</div>
		</div>
	</div>
</footer>
