---
import { Image } from 'astro:assets'
---

<nav class="bg-purple-light relative w-full">
	<!-- Flex container -->
	<div class="flex items-center justify-between">
		<!-- Menu Items -->
		<ul class="mx-auto hidden items-center space-x-5 pl-2 md:flex lg:space-x-10">
			<li>
				<a
					href="/about"
					aria-label="About me"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					About Us
				</a>
			</li>
			<li>
				<a
					href="/services"
					aria-label="Services"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					Services
				</a>
			</li>
			<li>
				<a href="/" aria-label="Goto main page" class="pb-2">
					<Image src="/logo0.png" alt="Logo" width={200} height={194} />
				</a>
			</li>
			<li>
				<a
					href="#faq"
					aria-label="Frequently asked questions"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					FAQ
				</a>
			</li>
			<li>
				<a
					href="#contacts"
					aria-label="How to contact with me"
					class="border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase transition-all duration-500 ease-out hover:border-purple-800"
				>
					Contact Us
				</a>
			</li>
		</ul>

		<!-- Hamburger Icon -->
		<button
			id="menu-btn"
			class="hamburger block focus:outline-none md:hidden"
			aria-label="Open Navigation Menu"
		>
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
		</button>

		<!-- Mobile Menu -->
		<div id="slideover-container" class="invisible fixed inset-0 z-50 h-full w-full">
			<div
				id="slideover-bg"
				class="absolute inset-0 z-0 h-full w-full bg-white opacity-0 transition-all duration-500 ease-out"
			>
			</div>
			<ul
				id="slideover"
				class="items-left absolute top-0 right-0 h-full w-56 translate-x-full flex-col space-y-10 self-end bg-purple-200 px-10 pt-20 transition-all duration-500 ease-out"
			>
				<li>
					<a
						href="/about"
						aria-label="Read about me"
						class="nav-link border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase hover:border-purple-800"
						>About Us</a>
				</li>
				<li>
					<a
						href="/services"
						aria-label="Services"
						class="nav-link border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase hover:border-purple-800"
						>Services</a>
				</li>
				<li>
					<a
						href="#faq"
						aria-label="Frequently asked questions"
						class="nav-link border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase hover:border-purple-800"
						>FAQ</a>
				</li>
				<li>
					<a
						href="#contacts"
						aria-label="How to contact with me"
						class="nav-link border-b-2 border-purple-300 pb-2 font-semibold text-purple-800 uppercase hover:border-purple-800"
						>Contact Us</a>
				</li>
				<li>
					<a href="/" aria-label="Main page" class="nav-link">
						<Image src="/logo0.png" alt="Logo" width={200} height={190} />
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script>
	const menu_btn = document.getElementById('menu-btn')

	const toggleSlideover = () => {
		menu_btn.classList.toggle('open')
		document.getElementById('slideover-container').classList.toggle('invisible')
		document.getElementById('slideover-bg').classList.toggle('opacity-0')
		document.getElementById('slideover-bg').classList.toggle('opacity-50')
		document.getElementById('slideover').classList.toggle('translate-x-full')
	}

	menu_btn.addEventListener('click', () => {
		toggleSlideover()
	})

	document.querySelectorAll('.nav-link').forEach((n) =>
		n.addEventListener('click', () => {
			toggleSlideover()
		})
	)

	document.getElementById('slideover-bg').addEventListener('click', () => {
		toggleSlideover()
	})
</script>
